Function and Feature Requirements:
1. XOR encode: The file RAID application shall encode XOR parity for the files

2. Mirror: The file RAID application shall mirror the files 

3. Read: The file RAID application shall read from the selected files

4. Write: The file RAID application shall write to the write buffer

5. Rebuild: The file RAID application shall rebuild missing data

6. Read during rebuild: The file RAID application shall read from files currently under rebuild

Performance Requirements:
1. Encode operations/second: The file RAID application shall Encode XOR files at a minimum of (300K) I/O operations per second

2. Rebuild operations/second: The file RAID application shall Rebuild missing files at a minimum of (300K) I/O operations per second

3. Read time: The file RAID application shall read from the files in a maximum of (1ms/sector)

4. Write time: The file RAID application shall write to the buffer in a maximum of (1ms/sector)

5. Read, modify, write penalty: The file RAID application’s ‘write buffer’ shall write to the selected file when the buffer reaches a specified capacity or a predetermined amount of time is reached since the last write to file 


Error Handling, Recovery, Ease of Use Requirements:
1. Single fault recovery: The file RAID application shall recover from a single missing or corrupted file

2. Double fault recovery: The file RAID application shall recover from two missing or corrupted files

3. Handle write during rebuild: The file RAID application shall not allow writing to a file currently being rebuilt

4. Data Compare: The file RAID application shall do byte by byte Data Compare to ensure rebuilds have been successful

5. (Handling corrupt data, not just missing data): The file RAID application shall remove and rebuild a file that is corrupt.
